layout {

    focus-ring {
        active-color   "#e7a43a"
        inactive-color "#120e0b"
        urgent-color   "#d35c2e"
    }

    border {
        active-color   "#e7a43a"
        inactive-color "#120e0b"
        urgent-color   "#d35c2e"
    }


    tab-indicator {
        active-color   "#e7a43a"
        inactive-color "#64410a"
        urgent-color   "#d35c2e"
    }

    insert-hint {
        color "#e7a43a80"
    }
}

recent-windows {
    highlight {
        active-color "#e7a43a"
        urgent-color "#d35c2e"
    }
}
